<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.remind.mapper.RemindTypeMapper">

    <resultMap type="RemindType" id="RemindTypeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectRemindTypeVo">
        select id, name from remind_type
    </sql>

    <select id="selectRemindTypeList" parameterType="RemindType" resultMap="RemindTypeResult">
        <include refid="selectRemindTypeVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectRemindTypeById" parameterType="String" resultMap="RemindTypeResult">
        <include refid="selectRemindTypeVo"/>
        where id = #{id}
    </select>

    <insert id="insertRemindType" parameterType="RemindType">
        insert into remind_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
         </trim>
    </insert>

    <update id="updateRemindType" parameterType="RemindType">
        update remind_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRemindTypeById" parameterType="String">
        delete from remind_type where id = #{id}
    </delete>

    <delete id="deleteRemindTypeByIds" parameterType="String">
        delete from remind_type where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
