<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.merchant.mapper.XtBedNoMapper">

    <resultMap type="XtBedNo" id="XtBedNoResult">
        <result property="ubednoid"    column="ubednoid"    />
        <result property="uroomid"    column="uroomid"    />
        <result property="ubedno"    column="ubedno"    />
        <result property="ustatus"    column="ustatus"    />
        <result property="ucompid"    column="ucompid"    />
    </resultMap>

    <sql id="selectXtBedNoVo">
        select ubednoid, uroomid, ubedno, ustatus, ucompid from xt_bed_no
    </sql>

    <select id="selectXtBedNoList" parameterType="XtBedNo" resultMap="XtBedNoResult">
        <include refid="selectXtBedNoVo"/>
        <where>
            <if test="uroomid != null  and uroomid != ''"> and uroomid = #{uroomid}</if>
            <if test="ubedno != null  and ubedno != ''"> and ubedno = #{ubedno}</if>
            <if test="ustatus != null  and ustatus != ''"> and ustatus = #{ustatus}</if>
            <if test="ucompid != null  and ucompid != ''"> and ucompid = #{ucompid}</if>
        </where>
    </select>

    <select id="selectXtBedNoByUbednoid" parameterType="String" resultMap="XtBedNoResult">
        <include refid="selectXtBedNoVo"/>
        where ubednoid = #{ubednoid}
    </select>
    <select id="selectXtBedNoByRoomIdAndBedId" resultType="java.lang.Integer">
        select count(1)
        from xt_bed_no
        where ubedno = #{ubedno} and uroomid = #{uroomid}

    </select>
    <select id="hasUseByBedId" resultType="java.lang.Integer">
        select count(1)
        from xt_bed_no
        where ustatus = '1' and  ubednoid = #{bedId}
    </select>
    <select id="hasUseBed" resultType="java.lang.Integer">
        select count(1)
        from xt_bed_no
        where ustatus = '1' and  uroomid = #{uroomid}
    </select>

    <insert id="insertXtBedNo" parameterType="XtBedNo">
        insert into xt_bed_no
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ubednoid != null">ubednoid,</if>
            <if test="uroomid != null">uroomid,</if>
            <if test="ubedno != null">ubedno,</if>
            <if test="ustatus != null">ustatus,</if>
            <if test="ucompid != null and ucompid != ''">ucompid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ubednoid != null">#{ubednoid},</if>
            <if test="uroomid != null">#{uroomid},</if>
            <if test="ubedno != null">#{ubedno},</if>
            <if test="ustatus != null">#{ustatus},</if>
            <if test="ucompid != null and ucompid != ''">#{ucompid},</if>
         </trim>
    </insert>

    <update id="updateXtBedNo" parameterType="XtBedNo">
        update xt_bed_no
        <trim prefix="SET" suffixOverrides=",">
            <if test="ucompid != null and ucompid != ''">ucompid = #{ucompid},</if>
            <if test="uroomid != null">uroomid = #{uroomid},</if>
            <if test="ubedno != null">ubedno = #{ubedno},</if>
            <if test="ustatus != null">ustatus = #{ustatus},</if>
        </trim>
        where ubednoid = #{ubednoid}
    </update>

    <delete id="deleteXtBedNoByUbednoid" parameterType="String">
        delete from xt_bed_no where ubednoid = #{ubednoid}
    </delete>

    <delete id="deleteXtBedNoByUbednoids" parameterType="String">
        delete from xt_bed_no where ubednoid in
        <foreach item="ubednoid" collection="array" open="(" separator="," close=")">
            #{ubednoid}
        </foreach>
    </delete>
</mapper>
